# yaml-language-server: $schema=https://json.schemastore.org/clangd.json
CompileFlags:
  Add:
    - "-I./"
    - "-I./include"
    - "-I./arch/noarch/include"
    - "-m32"
    - "-ffreestanding"
    - "-fno-exceptions"
    - "-fno-rtti"
    - "-fno-pic"
    - "-fno-pie"
    - "-mno-sse"
    - "-mno-sse2"
    - "-mno-mmx"
    - "-mno-80387"
    - "-xc++"
Diagnostics:
  MissingIncludes: None
  UnusedIncludes: Strict
